/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
input, 
button





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * COLORS
     */
  
    /* backgroud colors */
    --bg-white: hsl(0, 0%, 100%);
    --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
    --bg-lavender-blush: hsl(0, 100%, 98%);
    --bg-majorelle-blue: hsl(249, 95%, 63%);
    --bg-ocean-blue: hsl(249, 63%, 54%);
    --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
    --bg-misty-rose: hsl(0, 100%, 95%);
    --bg-red-salsa: hsl(357, 94%, 63%);
    --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
    --bg-english-vermillion: hsl(357, 64%, 53%);
    --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
    --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
    --bg-gainsboro: hsl(0, 0%, 85%);
  
    /* text color */
    --text-white: hsl(0, 0%, 100%);
    --text-gunmetal: hsl(209, 40%, 14%);
    --text-light-coral: hsl(357, 96%, 73%);
    --text-granite-gray: hsl(210, 4%, 38%);
    --text-majorelle-blue: hsl(249, 95%, 63%);
    --text-sunglow: hsl(48, 100%, 50%);
  
    /* border color */
    --border-gainsboro: hsl(0, 1%, 85%);
  
    /**
     * TYPOGRAPHY
     */
  
    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
  
    /* font size */
    --fontSize-1: 4.2rem;
    --fontSize-2: 3.6rem;
    --fontSize-3: 2.5rem;
    --fontSize-4: 2.4rem;
    --fontSize-5: 2rem;
    --fontSize-6: 1.6rem;
    --fontSize-7: 1.5rem;
  
    /* font weight */
    --weight-bold: 700;
    --weight-semiBold: 600;
    --weight-medium: 500;
  
    /**
     * SPACING
     */


  
    --section-spacing: 80px;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
    --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
    --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
    --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);
  
    /**
     * RADIUS
     */
  
    --radius-pill: 200px;
    --radius-circle: 50%;
    --radius-30: 30px;
    --radius-20: 20px;
  
    /**
     * TRANSITION
     */
  
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
  }
  
  

    /**
     * SPECIAL SYLING 
     */
  
     input, 
     button{ 
      background: none; 
      border: none; 
      font: inherit;
     }


     input{ 
      width: 100%;
      outline: none; 
     }

     button{
      cursor: pointer;
      }

      ion-icon{ 
        pointer-events: none;
      }

      address{ 
        font-style: normal;
      }


html{ 
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

img{ 
  height: auto;
}







  


  .preloader{ 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: var(--bg-lavender-blush);
    display: grid;
    place-content: center; 
    transition: var(--transition-1);
  }

  .preloader.remove{ 
    visibility: hidden; 
    opacity: 0;
  }


  .preloader .img{ 
    animation:  bounce 800ms ease-in-out infinite alternate;
  }
  
  @keyframes bounce { 
    0%{ 
        transform: translateY(-10px);
    }
    100%{ 
        transform: translateY(0);
    }
  }

  .preloader-inner{ 
    position: relative;
  }

  .preloader-inner::after{ 
    content: ''; 
    position: absolute;
    bottom: -10px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80%; 
    height: 10px ; 
    background-color: var(--bg-black-alpha-20); 
    filter: blur(5px); 
    z-index: -1; 
    animation: dropShadow 800ms ease-in-out infinite alternate;
  }

  @keyframes dropShadow {
    0%{ 
        width: 40%;
    }
    100%{ 
        width: 80%;
    }
    
  }

body{ 
    background-color: var(--bg-lavender-blush); 
    color: var(--text-granite-gray); 
    font-size: var(--fontSize-6); 
    line-height: 1.8;
}


.container{ 
    padding-inline: 16px;
  }

  
   
 .overlay{ 
    display: none;

  }

.header .container{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

}

.header{ 
    padding-block: 30px;
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 4;
}


.header.active{ 
    position: fixed; 
    background-color: var(--bg-white); 
    box-shadow: var(--shadow-1);

    animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
    0%{ 
        transform: translateY(-100%);
    }
    100%{ 
        transform: translateY(0);
    }
    
}


.header .logo img{ 
    width: 70px;
}

.nav-toggle-btn{ 
    font-size: 2rem;
}

.navbar { 
    position: fixed;
    top: 0; 
    right: -350px; 
    max-width: 350px; 
    width: 100%; 
    height: 100vh; 
    background-color: var(--bg-white);
    padding: 30px 16px;
    display: none; 
    flex-direction: column; 
    z-index: 1; 
    transition: 400ms var(--cubic-out); 
    visibility: hidden;

}

.navbar.active{ 
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
}

.navbar-top { 
display: flex; 
justify-content: space-between; 
align-items: center;
} 

.navbar-list{ 
  margin-block-start: 50px; 
}


.navbar-link{ 
  position: relative; 
  color: var(--text-gunmetal); 
  font-size: var(--fontSize-7); 
  font-weight: var(--weight-medium); 
  padding-block: 8px; 
  transition: var(--transition-2);

}


.navbar-link::before{ 
  content: '';
  position: absolute; 
  width: 8px; 
  height: 10px; 
background-color: var(--bg-majorelle-blue-alpha-5); 
top: 50%; 
left: -10px; 
transform: translateY(-50%); 
border-radius: 5px; 
opacity: 0; 
transition: var(--transition-1);



}


.navbar-link:is(:hover, :focus-visible, .active)::before { 
  opacity: 1;
}




.section{ 
  padding-block-end: var(--section-spacing);
}  

.hero{ 
  padding-block-start: 150px;
}

.has-bg-image{ 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;

}


.title { 
  color: var(--text-gunmetal);
  font-weight: var(--weight-semiBold); 
  line-height: 1.5;
}

.h1{ 
  font-size: var(--fontSize-2); 
  line-height: 1.2;
}

.h2{ 
  font-size: var(--fontSize-2);
}


.img-cover{ 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: var(--transition-2);
}


.w-100{ 
  width: 100%;
}


.hero .container{ 
  display: grid; 
  gap: 50px;
}


.hero-subtitle{ 
  background-color: var(--bg-misty-rose); 
  color: var(--text-light-coral);
  font-size: var(--fontSize-6); 
  display: flex; 
  align-items: center;
  gap: 10px;
  max-width: max-content;
  padding: 8px 20px; 
  border-radius: var(--radius-pill);
}

.hero-title{ 
  margin-block: 20px;
}